<ion-header>
  <ion-navbar>
    <ion-title>
      <span [innerHTML]="session.name"></span>
    </ion-title>

    <ion-buttons end>
      <img class="navbar-logo" src="assets/img/logo.svg" />
      <img class="navbar-logo-cropped" src="assets/img/logo_cropped.svg" />
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <ion-label>Date</ion-label>
      <ion-note item-right>{{session.startTime | utcDate:'shortTime'}} - {{session.endTime | utcDate:'shortTime'}}</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" item-left></ion-icon>
      <ion-label>Location</ion-label>
      <ion-note item-right>{{session.location}}</ion-note>
    </ion-item>

    <ion-item *ngIf="session.favourite" (click)="toggleFavouriteSession()">
      <ion-icon name="star" item-left></ion-icon>
      <ion-label>Remove from Favourite Sessions</ion-label>
    </ion-item>

    <ion-item *ngIf="!session.favourite" (click)="toggleFavouriteSession()">
      <ion-icon name="star-outline" item-left></ion-icon>
      <ion-label>Add to Favourite Sessions</ion-label>
    </ion-item>
  </ion-list>

  <p [innerHTML]="session.description | trustHtml"></p>

  <ion-item-group class="detail-list">
    <ion-item-divider color="light">
      Speakers
    </ion-item-divider>
    <ion-item tappable *ngFor="let speaker of speakers" (click)="showSpeakerDetail(speaker)">
      <span [innerHTML]="speaker.fullName"></span>
    </ion-item>
  </ion-item-group>
</ion-content>
