<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{searchTerm}}</ion-title>

    <ion-buttons end>
      <img class="navbar-logo" src="assets/img/logo.svg"/>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item-divider *ngIf="!hasAnyResult">No results found</ion-item-divider>

    <div *ngFor="let result of searchResult?.results">
      <ion-item-divider [hidden]="result.data.length === 0">
        {{result.type}}
      </ion-item-divider>

      <ion-item *ngFor="let item of result.data" (click)="showDetails(item)">
        <span [innerHTML]="item.description"></span>
      </ion-item>
    </div>

    <ion-item-divider [hidden]="searchResult?.tweets.length === 0">Tweets</ion-item-divider>
    <ion-item *ngFor="let tweet of searchResult?.tweets">
      <app-tweet [tweet]="tweet" [hideRetweets]="true"></app-tweet>
    </ion-item>
  </ion-list>
</ion-content>
