<ion-header>
  <app-navbar [title]="'Twitter'"></app-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateNewerTweets($event)">
    <ion-refresher-content pullingText="Pull to update Tweets">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="hashtag">
    <ion-card-content>
      <h1>{{currentHashtag}}</h1>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let tweet of tweets" [hidden]="tweet.retweet && hideRetweets">
    <ion-card class="tweet">
      <ion-item>
        <ion-avatar item-left>
          <img [src]="tweet.profileImage">
        </ion-avatar>
        <h2>{{tweet.fullName}}
          <span></span>
          <span class="twitter-date">{{tweet.timestamp | twitterTimestamp}}</span>
        </h2>
        <p>@{{tweet.nickName}}</p>
      </ion-item>

      <ion-card-content>
        <p [innerHTML]="tweet.message"></p>
      </ion-card-content>

      <ion-row [hidden]="tweet.retweetedBy?.length == 0">
        <ion-col><ion-icon name="repeat"></ion-icon>retweeted by: {{tweet.retweetedBy.join(', ')}}</ion-col>
      </ion-row>
    </ion-card>
  </div>

  <div *ngIf="hasMoreTweets">
    <ion-card (click)="loadNextPage()">
      <ion-card-content>
        Load more tweets...
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
