<ion-header>
  <app-navbar [title]="'Twitter'"></app-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="updateNewerTweets($event)">
    <ion-refresher-content pullingText="Pull to update Tweets">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="hashtag">
    <ion-card-content>
      <h1>{{currentHashtag}}</h1>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let tweet of tweets" [hidden]="tweet.retweet && hideRetweets">
    <app-tweet [tweet]="tweet" [hideRetweets]="hideRetweets"></app-tweet>
  </div>

  <div *ngIf="hasMoreTweets">
    <ion-card (click)="loadNextPage()">
      <ion-card-content>
        Load more tweets...
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
